environment/.c9/metadata/environment/template.yaml
{"filter":false,"title":"template.yaml","tooltip":"/template.yaml","undoManager":{"mark":17,"position":17,"stack":[[{"start":{"row":238,"column":0},"end":{"row":282,"column":0},"action":"insert","lines":["#----- Start state machine resource -------#","  DocumentStateMachine:","    Type: AWS::Serverless::StateMachine","    Properties:","      Name: DocumentStateMachine","      Role: !Sub arn:aws:iam::${AWS::AccountId}:role/DocumentStateMachineRole","      Definition:","        StartAt: Unzip","        States:","          Unzip:","            Type: Task","            Resource: !GetAtt UnzipLambdaFunction.Arn","            ResultPath: \"$.application\"","            Next: WriteToDynamo","          WriteToDynamo:","            Type: Task","            Resource: !GetAtt WriteToDynamoLambdaFunction.Arn","            ResultPath: \"$.notification\"","            Next: PerformChecks","          PerformChecks:","            Type: Parallel","            Branches:","            - StartAt: CompareFaces","              States:","                CompareFaces:","                  Type: Task","                  Resource: !GetAtt CompareFacesLambdaFunction.Arn","                  End: true","            - StartAt: CompareDetails","              States:","                CompareDetails:","                  Type: Task","                  Resource: !GetAtt CompareDetailsLambdaFunction.Arn","                  End: true","            ResultPath:","            Next: ValidateSend","          ValidateSend:","            Type: Task","            Resource: \"arn:aws:states:::sqs:sendMessage\"","            Parameters:","              QueueUrl: !GetAtt SQSQueue.QueueUrl","              MessageBody.$: $.notification","            End: true","#----- End state machine resource -------#",""],"id":7}],[{"start":{"row":243,"column":77},"end":{"row":244,"column":0},"action":"insert","lines":["",""],"id":8},{"start":{"row":244,"column":0},"end":{"row":244,"column":6},"action":"insert","lines":["      "]}],[{"start":{"row":244,"column":6},"end":{"row":246,"column":0},"action":"insert","lines":["Tracing:","  Enabled: true",""],"id":9}],[{"start":{"row":245,"column":2},"end":{"row":245,"column":3},"action":"insert","lines":[" "],"id":10},{"start":{"row":245,"column":3},"end":{"row":245,"column":4},"action":"insert","lines":[" "]},{"start":{"row":245,"column":4},"end":{"row":245,"column":5},"action":"insert","lines":[" "]},{"start":{"row":245,"column":5},"end":{"row":245,"column":6},"action":"insert","lines":[" "]},{"start":{"row":245,"column":6},"end":{"row":245,"column":7},"action":"insert","lines":[" "]}],[{"start":{"row":245,"column":20},"end":{"row":246,"column":0},"action":"remove","lines":["",""],"id":11}],[{"start":{"row":245,"column":7},"end":{"row":245,"column":8},"action":"insert","lines":[" "],"id":12}],[{"start":{"row":10,"column":19},"end":{"row":11,"column":0},"action":"insert","lines":["",""],"id":14},{"start":{"row":11,"column":0},"end":{"row":11,"column":4},"action":"insert","lines":["    "]}],[{"start":{"row":11,"column":4},"end":{"row":17,"column":0},"action":"insert","lines":["Tracing: Active","Environment:","  Variables:","    POWERTOOLS_SERVICE_NAME: kyc-app","Layers:","  - !Sub arn:aws:lambda:${AWS::Region}:017000801446:layer:AWSLambdaPowertoolsPythonV2:51",""],"id":15}],[{"start":{"row":12,"column":0},"end":{"row":12,"column":1},"action":"insert","lines":[" "],"id":16},{"start":{"row":12,"column":1},"end":{"row":12,"column":2},"action":"insert","lines":[" "]},{"start":{"row":12,"column":2},"end":{"row":12,"column":3},"action":"insert","lines":[" "]},{"start":{"row":12,"column":3},"end":{"row":12,"column":4},"action":"insert","lines":[" "]}],[{"start":{"row":13,"column":1},"end":{"row":13,"column":2},"action":"insert","lines":[" "],"id":17},{"start":{"row":13,"column":2},"end":{"row":13,"column":3},"action":"insert","lines":[" "]},{"start":{"row":13,"column":3},"end":{"row":13,"column":4},"action":"insert","lines":[" "]}],[{"start":{"row":13,"column":2},"end":{"row":13,"column":4},"action":"remove","lines":["  "],"id":18}],[{"start":{"row":13,"column":2},"end":{"row":13,"column":3},"action":"insert","lines":[" "],"id":19}],[{"start":{"row":13,"column":3},"end":{"row":13,"column":4},"action":"insert","lines":[" "],"id":20},{"start":{"row":13,"column":4},"end":{"row":13,"column":5},"action":"insert","lines":[" "]}],[{"start":{"row":14,"column":4},"end":{"row":14,"column":5},"action":"insert","lines":[" "],"id":21},{"start":{"row":14,"column":5},"end":{"row":14,"column":6},"action":"insert","lines":[" "]},{"start":{"row":14,"column":6},"end":{"row":14,"column":7},"action":"insert","lines":[" "]}],[{"start":{"row":15,"column":0},"end":{"row":15,"column":1},"action":"insert","lines":[" "],"id":22},{"start":{"row":15,"column":1},"end":{"row":15,"column":2},"action":"insert","lines":[" "]},{"start":{"row":15,"column":2},"end":{"row":15,"column":3},"action":"insert","lines":[" "]},{"start":{"row":15,"column":3},"end":{"row":15,"column":4},"action":"insert","lines":[" "]}],[{"start":{"row":16,"column":1},"end":{"row":16,"column":2},"action":"insert","lines":[" "],"id":23},{"start":{"row":16,"column":2},"end":{"row":16,"column":3},"action":"insert","lines":[" "]},{"start":{"row":16,"column":3},"end":{"row":16,"column":4},"action":"insert","lines":[" "]},{"start":{"row":16,"column":4},"end":{"row":16,"column":5},"action":"insert","lines":[" "]}],[{"start":{"row":16,"column":5},"end":{"row":16,"column":6},"action":"insert","lines":[" "],"id":24}],[{"start":{"row":16,"column":6},"end":{"row":16,"column":7},"action":"remove","lines":[" "],"id":25}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":22,"column":25},"end":{"row":22,"column":25},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1750446402915,"hash":"5b36faa599236b61501f31a2460497e65c0bd1ae"}